{% extends 'base.html.twig' %}

{% block title %}Tous les auteurs{% endblock %}

{% block body %}
    <h1>Tous les auteurs</h1>

    <div class="d-flex justify-content-around">
        {% for auteur in auteurs %}
            <a class="btn btn-primary" href="{{ path('app_auteur_show', {'id': auteur.id}) }}">{{ auteur.name }}</a>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_auteur_new') }}">Ajouter une categorie</a>
    {% endif %}
{% endblock %}
