{% extends 'base.html.twig' %}
{% block body %}
    <img class="img-fluid baniere" src="https://estivareilles42.fr/wp-content/uploads/sites/167/2019/04/banniere-biblio3.png" alt="">
    <h1 class="text-center">{{ titre }}</h1>
{% endblock %}