{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h1>Toutes les catégories</h1>
    <div class="d-flex justify-content-around">
        {% for categorie in categories %}
            <a class="btn btn-primary" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">{{ categorie.name }}</a>
        {% endfor %}
    </div>
        
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_categorie_new') }}">Ajouter une categorie</a>
    {% endif %}
    
{% endblock %}
